
/* BG */

body.is-preload #bg:before {
    background-color: transparent;
}
/* Header */

body.is-preload #header {
    -moz-filter: none;
    -webkit-filter: none;
    -ms-filter: none;
    filter: none;
}

    body.is-preload #header > * {
        opacity: 1;
    }

    body.is-preload #header .content .inner {
        max-height: none;
        padding: 3rem 2rem;
        opacity: 1;
    }

/* Main */

#main article {
    opacity: 1;
    margin: 4rem 0 0 0;
}

img{
    padding: 0%;
    width: 5.5rem;
    margin: auto;
    height: 5.5rem;
    border: solid 1px #b91919;
    border-radius: 100%;
    
    position: absolute;
    top: 15%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
}

body, input, select, textarea {
    color: #2c2c2c;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    
}